{%extends 'all-photos/base.html'%}

{% block content %}
{{block.super}}

<div class="container">
<div class="card-columns">
{% for photos_item in photos %}
  <div class="card" uk-lightbox="animation: slide" uk-text-center>
      <a class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0" href="{{photos_item.image.url}}" data-caption="{{photos_item.location}} : {{photos_item.title}} : Link:{{photos_item.image.url}}">
        <img src="{{photos_item.image.url}}" alt="" class="uk-overlay-icon">
        <div class="uk-position-center">
            <div class="uk-transition-slide-top-small"><h4 class="uk-margin">{{photos_item.image.title}}</h4></div>
            <div class="uk-transition-slide-bottom-small"><h4 class="uk-margin">{{photos_item.category}}</h4></div>
        </div>
    </a>
    
  </div>
    {% endfor %}
</div>
</div>

{% endblock %}  