<div class="uk-position-relative">
        <img src="images/light.jpg" alt="">
        <div class="uk-position-top">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#offcanvas-slide" class="uk-button uk-button-default" uk-toggle>Open</a>

                            <div id="offcanvas-slide" uk-offcanvas>
                                <div class="uk-offcanvas-bar">
                            
                                    <ul class="uk-nav uk-nav-default">
                                        <li class="uk-active"><a href="#">Active</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li class="uk-nav-header">Header</li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                            
                                </div>
                            </div></li>
                        <li>
                        
                          
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>